@model IEnumerable<EventAdmin.ViewModels.ConcertAttendeeViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>Concerts</h2>
@foreach (var concert in Model)
{
    <div class="container-concerts">
        <div class="calendar-custom">
            <div class="calendar-month calendar-general">
                @concert.DateTime.ToString("MMM")
            </div>
            <div class="calendar-day calendar-general">
                @concert.DateTime.ToString("dd")
            </div>
        </div>
        <div class="artist-info">
            <h4>@concert.Artist</h4>
            <div class="going-container">
                <h5 class="genre">@concert.Genre</h5>
                @if (concert.IsAttending)
                {
                    <button concert-id="@concert.Id" class="btn btn-default btn-sm btn-going btn-info">Going</button>
                }
                else
                {
                    <button concert-id="@concert.Id" class="btn btn-default btn-sm btn-going">Going?</button>
                }

            </div>

        </div>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".btn-going").click(function (e) {
                var btn = $(e.target);
                $.post("/api/attendances", { concertId: btn.attr("concert-id") })
                .done(function () {
                    if (btn.text() == "Going?") {
                        btn.removeClass("btn-default").addClass("btn-info").text("Going");
                    } else {
                        btn.removeClass("btn-info")
                            .addClass("btn-default")
                            .addClass("btn-going")
                            .text("Going?");
                    }
                    
                })
                .fail(function () {
                    alert("Something wrong :(");
                })
            })
        });
    </script>

}
